{% extends "Bases/Base.html.twig" %}

{% block content %}

<style>
  .btn-modifier {
    background-color: #73986f;
    color: white;
    margin-right: 5px;
  }
  .btn-supprimer {
    background-color: #e0c7bf;
    color: white;
  }
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  .actions-col {
    text-align: right;
    white-space: nowrap;
  }
</style>

<h1>Liste de tous les Étudiants</h1>

<div class="text-center my-4">
  <a href="{{ url_for('inscription_etudiants') }}" class="btn btn-modifier">
      Ajouter un(e) étudiant(e)
  </a>
</div>

<table class="table table-bordered table-hover">

{% for etudiant in etudiants %}

<tr>
  <th scope="row">{{ etudiant.id }}</th>
  <td>{{ etudiant.prenom }}</td>
  <td>{{ etudiant.nom }}</td>
  <td>{{ etudiant.email }}</td>
  <td>{{ etudiant.campus }}</td>
  <td>{{ etudiant.ville }}</td>

  <td class="actions-col">
    <a href="/Modifier-Étudiant/{{ etudiant.id }}" class="btn btn-modifier">
  Modifier
</a>
    <form method="POST" action="/Supprimer-Étudiant/{{ etudiant.id }}" style="display:inline;">
    <button type="submit" class="btn btn-supprimer">Supprimer</button>
</form>
  </td>

</tr>


{% endfor %}
  </tbody>
</table>

{% endblock %}