{% extends "Bases/Base.html.twig" %}

{% block title %}Liste des Entreprises
{% endblock %}

{% block content %}

	<h1>Liste des Entreprises</h1>
	<div class="text-center my-4">
		<a href="/Inscription-Entreprise" class="btn" style="background-color: #73986f; color: white;">
			Ajouter une entreprise
		</a>
	</div>


	<div class="card shadow-sm">
		<div class="card-body p-0">
			<table class="table table-hover mb-0">
				<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Secteur</th>
						<th>Email</th>
						<th>Site Web</th>
						<th>Image</th>


						<th class="text-end">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for entreprise in entreprises %}
						<tr>
							<td>{{ entreprise.id }}</td>
							<td>
								<strong>{{ entreprise.nom }}</strong>
							</td>
							<td>{{ entreprise.secteur }}</td>
							<td>{{ entreprise.email }}</td>
							<td>{{ entreprise.siteWeb }}</td>
							<td>
								<img src="/uploads/{{ entreprise.image }}" alt="logo" style="height:40px;">
							</td>
							<td class="actions-col">
								<form method="POST" action="/Supprimer-Entreprise/{{ entreprise.id }}">
									<button type="submit" class="btn btn-supprimer">Supprimer</button>
								</form>
								<a href="/Modifier-Entreprise/{{ entreprise.id }}" class="btn btn-modifier">Modifier</a>
							</td>

						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
