<div class="modal fade" id="Candidater" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Candidater" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #ECEADE">
				<h1 class="modal-title fs-5" id="titrefenetremodal">Candidater</h1>
			</div>

			
			<form method="POST" action="/Candidatures/ajouter">

				
				<input type="hidden" name="titre"        value="{{ offre.titre ?? '' }}">
				<input type="hidden" name="entreprise"   value="{{ offre.entreprise ?? '' }}">
				<input type="hidden" name="remuneration" value="{{ offre.remuneration ?? '' }}">
				<input type="hidden" name="duree"        value="{{ offre.duree ?? '' }}">
				<input type="hidden" name="domaine"      value="{{ offre.domaine ?? '' }}">
				<input type="hidden" name="logo"         value="{{ offre.logo ?? '' }}">
				<input type="hidden" name="description"  value="{{ offre.description ?? '' }}">

				<div class="modal-body">
					<div class="col p-2 m-2">
						<label for="nom" class="form-label">Nom :</label>
						
						<input type="text" id="nom" name="nom" class="form-control" placeholder="Entrez votre Nom" style="border-radius: 5px; border: 1px solid #A0A890;" required>
					</div>
					<div class="col p-2 m-2">
						<label for="prenom" class="form-label">Prénom :</label>
						<input type="text" id="prenom" name="prenom" class="form-control" placeholder="Entrez votre Prénom" style="border-radius: 5px; border: 1px solid #A0A890;" required>
					</div>
					<div class="col p-2 m-2">
						<label for="email" class="form-label">Adresse Mail :</label>
						<input type="email" id="email" name="email" class="form-control" placeholder="Entrez votre Adresse Mail" style="border-radius: 5px; border: 1px solid #A0A890;" required>
					</div>
				</div>

				<div class="modal-footer" style="background-color: #ECEADE">
					<button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #A0A890">Fermer</button>
					<button type="submit" class="btn" style="background-color: #EED4CB">Envoyer</button>
				</div>

			</form>
		</div>
	</div>
</div>
