{% extends "Bases/Base.html.twig" %}

{% block content %}

	<style>
		.btn-modifier {
			background-color: #73986f;
			color: white;
			margin-right: 5px;
		}
		.btn-supprimer {
			background-color: #e0c7bf;
			color: white;
		}
		th,
		td {
			text-align: center;
			vertical-align: middle;
		}
		.actions-col {
			text-align: right;
			white-space: nowrap;
		}
	</style>

	<h1>Liste de tous les Pilotes</h1>

	<div class="text-center my-4">
		<a href="/Inscription-Pilote" class="btn btn-modifier">
			Ajouter un(e) pilote
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Prénom</th>
				<th scope="col">Nom</th>
				<th scope="col">Email</th>
				<th scope="col">Campus</th>
				<th scope="col">Localisation</th>
				<th scope="col">Image</th>
				<th scope="col" class="actions-col"></th>
			</tr>
		</thead>
		<tbody>
			{% for pilote in pilotes %}
				<tr>
					<th scope="row">{{pilote.id}}</th>
					<td>{{pilote.prenom}}</td>
					<td>{{pilote.nom}}</td>
					<td>{{pilote.email}}</td>
					<td>{{pilote.campus}}</td>
					<td>{{pilote.localisation}}</td>
					<td>{{pilote.image}}</td>
					<td class="actions-col">

						<a href="/Modifier-Pilote" class="btn btn-modifier">Modifier</a>
						<form method="POST" action="/Supprimer-Pilote/{{ pilote.id }}">
							<button type="submit" class="btn btn-supprimer">Supprimer</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun pilote trouvé dans la base de données.</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</tr></tbody></table>{% endblock %}
